 .hero {
      background: #f0fdf4;
      padding: 60px 0;
    }
    .hero img {
      border-radius: 15px;
      max-width: 100%;
    }
    .card img {
      height: 200px;
      object-fit: cover;
    }
    footer {
    color: white ;
    padding: 15px 20px;  
    text-align: center;
  background: linear-gradient(128.64deg, #4CB332FF 0%, rgb(27, 183, 105) 100%);
   
}


footer .footer-col {
    margin: 10px 0;   
}

footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #222;
}

.footer-bottom {
    margin-top: 10px; 
    padding-top: 5px; 
}
    
    .navbar-brand {
    position: absolute;
    display: flex;
    top: 1px;
    left: 56px; ;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    line-height: 25px; 
    font-weight: 700; 
    color: #FFFFFFFF;
    align-items: center;
    margin-left: 4px;
    
}

#webName{
    margin-left: 0.5px;
}


#logo{
    width: 25px;
    height: auto;
    margin-right: 0px;
}

.nav {
    background-color: #4CB332FF ;
    
}

/* بيغير لون النص اللي مكتوب في ال Nav */
.nav-link {
    color: #FFFFFFFF;
    font-size: 15px;
    transition: all 0.3s ease;
}
.nav-link:hover {
    color: #000000; 
    font-weight: 500;
   
}
.nav-link.active{
     color: #fbfbfb;
    font-weight: 600;
    background-color: #4CB332FF; 
    box-shadow: 0 4px 6px rgb(48, 110, 32); /* ظل يخليها طالعة لفوق */
    transform: translateY(-2px); /* يرفعها لفوق */
}
.btn { background-color: #4CB332FF; }
